# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# build
build

# misc
__snapshots__
*.css
.sass-cache
.DS_Store
.Trashes
Thumbs.db
Desktop.ini
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
